@import 'mainsetup';

@import 'fontsetup';

@import 'colorsetup';

@import 'mixin';

html {
    scroll-behavior: smooth;
}

body {
    background: url(//assets.ubuntu.com/sites/ubuntu/latest/u/img/backgrounds/image-background-paper.png) repeat-y center top;
    color: $color-neutral-cool-grey;
    font-family: $font-family-norm;
    font-weight: $font-weight-norm;
    margin: 0; 
    padding: 0; 
    border: 0;
}


ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
  width: 100%;  
}

.main-wrapper {
    width: 100vw;
    margin: auto; 

    @include mq-tablet ($tablet-width,$desktop-width)  {
        width: $tablet-width;
    }

    @include mq-desktop ($desktop-width) {
        width: $desktop-width;
    }
}

// Definer grid 

$grid-fraction: 12;
$grid-margin-aside: 0;
$grid-column-gap: 1vmin;
$grid-margin-bottom: 1vmin;
$grid-background-color: $color-ubuntu-background; 
@include main-grid($grid-fraction, $grid-margin-aside, $grid-column-gap, $grid-margin-bottom,$grid-background-color);



.item-place {
    grid-column: span 12; 

    @include mq-tablet1 () {
        grid-column: span 6;
    }
}

$border-width: 2;
$border-style: solid;
$border-radius: 10;
$border-color: $default-border-color;
$selector: ".klaes";

// @include def-border ($border-width, $border-style, $border-radius, $border-color); 
@include selector ($selector, $border-width, $border-style, $border-radius, $border-color); 

.billed { 
    @include def-border ($border-width, $border-style, $border-radius, $border-color); 
    margin: 5vmin; 
}
